@keyframes services-loading {
    0%{
        opacity: 0;
    }
    31% {
        opacity: 0;
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes line {
    0% {
        opacity: 0;
        width: 0%;
    }
    31% {
        opacity: 0;
        width: 0%;
    }
    100% {
        width: 97%;
    }
}
@keyframes hero-txt {
    0% {
        opacity: 0;
    }
    31% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes left {
    0% {
        opacity: 0;
    }
    31% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0px);
    }
}
